{% extends 'index.html' %}
{% block content %}
{{ super() }}
{% if menu == "login" %}
  <main class="form-signin">
    <form class="sign-form">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mt-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
        <label for="floatingPassword">Password</label>
      </div>
      <p class="error-hidden" id="error">Ошибка</p>

      <button class="btn btn-primary w-100 py-2 " onclick="event.preventDefault(); login();">Sign in</button>
    </form>
    <a href="{{ url_for('registration') }}">You don't have account?</a>
  </main>
{% else %}
  <main class="form-signin">
    <form class="sign-form">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mt-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
        <label for="floatingPassword">Password</label>
      </div>
      <p class="error-hidden" id="error">Ошибка</p>

      <button class="btn btn-primary w-100 py-2 " onclick="event.preventDefault(); registration();">Sign in</button>
    </form>
    <a href="{{ url_for('login') }}" ">Do you already have account? </a>
  </main>
  
  
{% endif %}
{% endblock %}
