
{% extends 'main.html' %}
{% block maincontent %}
{{ super() }}



<div class= 'car'>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3" >
        <div class="car-description">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Custom jumbotron</h1>
              <p class="fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            </div>
            <img class="image"/>
        </div>
      </div>
</div>
<div class="rent">
    <dialog class="dialog" id="modal-dialog">
        <form>
            <h1 class="h3 mb-3 fw-normal">Rent form</h1>
    
            <label for="dateStart">Rent start</label>
            <input type="text" class="form-control" id="dateStart" placeholder="10.12.1990" autocomplete="off" onfocus="(this.type='date')">
    
            <label for="dateEnd">Rent end</label>
            <input type="text" class="form-control" id="dateEnd" placeholder="11.01.1991" autocomplete="off" onfocus="(this.type='date')">
            
            <p class="error-hidden" id="error">Ошибка</p>
    
            <button class="btn btn-primary w-100 py-2 mt-1" onclick="event.preventDefault(); rentACar();">Rent a car</button>
            <button class="btn btn-danger w-100 py-2 mt-1" onclick="event.preventDefault(); closeDialog();">Close dialog</button>
        </form>
    </dialog>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3" >
        <div class="rent-header">
            <p class="fw-bold fs-4">Rent a car:</p>
            <button class="btn btn-success mb-2" onclick="showDialog();">Rent now</button>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Rent start at</th>
                <th scope="col">Rent end at</th>
              </tr>
            </thead>
            <tbody class="rent-table">
              <tr>
              </tr>
             
            </tbody>
          </table>
    </div>
</div>
<script>
    function getDataWithCarId(){
        let data = fetch('http://127.0.0.1:5000/car/{{main}}')
        .then((res)=>res.json())
        .then((data)=>{
            document.querySelector('h1').innerText = data.name
            document.querySelector('p').innerText = data.description
            document.querySelector('img').alt = data.image
            document.querySelector('img').src = 'http://127.0.0.1:5000/static/' + data.image
            console.log(data.avaible_time)
            data.avaible_time.forEach((time,index)=>{
                const markup = `
                <tr>
                    <th scope="row">${index+1}</th>
                    <td>${time[0]}</td>
                    <td>${time[1]}</td>
                    <td>${time[2]}</td>
                </tr>
                `
                document.querySelector('.rent-table').insertAdjacentHTML('beforeend',markup)
            })
        })
    }
    getDataWithCarId();

    function showDialog(){
        let dialog = document.getElementById("modal-dialog");
        dialog.inert = true;
        dialog.showModal();
        dialog.inert = false;
    }
    function closeDialog(){
      document.getElementById("modal-dialog").close();
  }

    function rentACar(){
        let data = fetch('http://127.0.0.1:5000/car',{
            method: "put",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: Number("{{main}}"),
              avaible_time: [
                localStorage.getItem("user").split(' ')[1],
                document.getElementById('dateStart').value,
                document.getElementById('dateEnd').value,  
              ]
            })
          }).then((data)=>data.json()).then((res)=>{
            if(res.code){
              console.log(res.message)
              document.getElementById("error").style.opacity = 1;
              document.getElementById("error").textContent = res.message; 
            }
            else
                document.getElementById("modal-dialog").close()
          })
        
    }
</script>
{% endblock %}
